@import "functions";

$primary-button-bg: linear-gradient(
  90deg,
  rgba(160, 234, 255, 1) 0%,
  rgba(157, 155, 240, 1) 50%,
  rgba(0, 212, 255, 1) 100%
);

$primary-color: #edf2f6;
$font-color: #6b5e98;
$strong-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2),
  0 4px 20px rgba(0, 0, 0, 0.15);

//font sizes
$font-size-small: get_rem(12);
$font-size-default: get_rem(14);
$font-size-title: get_rem(16);
$font-size-header: get_rem(24);
$font-size-mainheader: get_rem(32);

$font-weight-semi: 400;
$font-weight-regular: 500;
$font-weight-bold: 600;
